html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.body-gradient {
    background: linear-gradient(to right, rgb(121,165,210), rgb(121,165,210));
}

.header-gradient {
    background: linear-gradient(to right, rgb(17,111,195), rgb(0,15,51));
}

.table {
    background: white;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table thead th {
    border: none;
}

.pagination-side {
    background: white;
}

.main-page {
    margin-left: 32px;
    margin-right: 32px;
}